body {
    font-family: Montserrat, sans-serif;
    height: 100%;
    width: 100%;
    background-color: rgb(242, 242, 242);
    position: relative;
}

.hide-err{
  display: none;
}

.preloader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

nav li a {
   color: white;
   font-weight: 800;
}

.nav li a:focus,  
.nav li a:hover{
  background-color: rgba(164, 22, 26);
  color: white;
  cursor: pointer;
}

.navbar {
    padding: 8px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: rgba(164, 22, 26); 
    border: 0;
    color: white; 
    font-size: 11px !important;
    letter-spacing: 4px;
    box-shadow: 0 3px 3px 0 rgba(164, 22, 26); 
    font-weight: 1000;
}

.navbar-toggle {
  background-color:  rgba(164, 22, 26);
}

.icon-bar {
  color: white;
  background-color: white;
}

.text-white {
   color: white;
}

.navbar-brand {
    letter-spacing: 0px;
    font-size: 3.5rem;
    color: white;
  }

.navbar-brand:hover {
  color: white;
  cursor: pointer;
}

.active {
  color:white;
}

.jumbotron {
    height: 500px;
    background-image: url('../images/cell-background-pizza-right.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header {
    margin-top: 9rem;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
    color: white;
}

.para {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: white;
}

.custom-btn {
    color: rgba(53, 80, 112);
    border: 1px solid white ;
    background-color: rgba(233, 236, 239);
    width: 20rem;
    letter-spacing: 0.2rem;
    font-size: 2.3rem;
    font-weight: 700;
    color:white;
    background-color: rgba(164, 22, 26);
}

.custom-btn:hover, 
.custom-btn:focus {
    background-color:rgba(164, 22, 26);
    color: white;
    border: 1px solid white ;
}

.menu-link{
  color: rgba(164, 22, 26);
}

.menu-link:hover{
  color:  rgba(164, 22, 26);
  text-decoration: none;
}


.varieties {
    margin-left: 2rem;
}

.varieties h2 {
    font-weight: 600;
    font-size: 30px;
    color: black;

}

.custom-line {
    border-bottom: 2px solid #3d405b;
    opacity: 0.5;
}


.cards-list {
    margin-bottom: 8rem;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
  .card {
    /* margin: 30px auto; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 10px;
    width: 229px;
    height: 229px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color: white !important;
  }
  
  .card .card_image {
    /* width: inherit; */
    /* height: inherit; */
    text-align: center;
    margin-left: 1.3rem;
    width: 90%;
    height:90%;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
    /* opacity: 0.8; */
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: -18px;
    height: 40px;
  }
  
  .card:focus,
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  
  .title-black {
    /* color: black; */
    color: rgba(186, 24, 27) ;
  }


  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }



   /* carousel */

   #carousel {
    margin-top: 150px;
    position: relative;
    height: 400px;
    top: 20%;
    transform: translateY(-20%);
    overflow: hidden;
  }
  
  #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  
  #carousel div img {
    width: 400px;
    height:250px ;
    transition: width 1s;
    border-radius: 5px;
  }
  
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  
  #carousel div.hideLeft img {
    width: 200px;
  }
  
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  
  #carousel div.hideRight img {
    width: 200px;
  }
  
  #carousel div.prev {
   
    z-index: 5;
    left: 30%;
    transform: translateY(20px) translateX(-50%);
  }
  
  #carousel div.prev img {
    width: 300px;
    
  }
  
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(15%) translateX(-50%);
    opacity: .7;
  }
  
  #carousel div.prevLeftSecond img {
    width: 280px;
  }
  
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
  }
  
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(20px) translateX(-50%);
  }
  
  #carousel div.next img {
    width: 300px;
  }
  
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(15%) translateX(-50%);
    opacity: .7;
  }
  
  #carousel div.nextRightSecond img {
    width: 280px;
  }

  @media (max-width: 658px) { #carousel div img {
    width: 160px;
    height:100px ;
   }
  }
   @media (max-width: 658px) { #carousel div.prev img,#carousel div.next img {
    width: 140px;
    height:100px ;
   }
   }
   @media (max-width: 658px){ #carousel div.nextRightSecond img,#carousel div.prevLeftSecond img{
    width: 140px;
    height:100px ;
    transform: translateY(13%) translateX(-10%)
    }
  }
  @media (max-width: 658px){#carousel {
    margin-top: 120px;
    height: 190px;
   }
}
  

/* crousel end  */
  

/* footer css */
.footer-bs {
  background-color:  rgba(164, 22, 27, 0.89);
  padding: 20px 40px 40px 40px ;
  color: rgba(255,255,255,1.00);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
  

}

.footer-pic{
  width: 97%;
  height: 200px;
  border-radius: 10px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)  ;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
padding:10px 25px; 
}

.footer-bs .footer-nav { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }
.footer-bs .footer-brand ul.social { list-style:none; padding:0px; }
.footer-bs .footer-brand ul.social li { padding:2px 0px;}
.footer-bs .footer-brand ul.social a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-brand ul.social a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase;}
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-nav ul.social a { color:rgba(255,255,255,1.00); text-transform:uppercase; }
.footer-bs .footer-nav ul.social { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.social li { padding:5px 0px;}
.footer-bs .footer-nav ul.social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-nav h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}

.footer-bs .footer-social ul { list-style: none; padding:0px; }
.footer-bs .footer-social h2 {
font-size: 14px;
text-transform: uppercase;
letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.social-media-links i{
  margin: 1rem;
}



@media (min-width: 768px) {
.footer-bs .footer-nav { border-left:solid 1px rgba(255,255,255,0.10);
}
}
@media (max-width: 658px){ 
  .footer-pic{
    display: none;
  }
}

@media (max-width: 568px) {
  .footer-bs{
   padding-top: 30px;
  }
}




/* Contact CSS */
.contact-section{
  background-image: url('../images/pizza bg 4.jpg') ;
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  overflow: hidden; 
  /* opacity: 0.5; */
  z-index: 0;
  
}

.contact{
  padding: 100px 50px 0px 50px;
}

.contact-header {
  color:whitesmoke ;
  font-weight: 600;
  text-shadow: 4.8px 3px rgb(218, 80, 70);
  margin-bottom: 5rem;
  font-size: 50px;
  z-index: 12;
  opacity: 1;
}

.contact-text {
  color: white;
  font-size: 16px; 
  margin-bottom: 5rem;
  text-shadow: 2.8px 1px rgb(16, 5, 5);

}
/* Contact CSS Closed */



/* Cart CSS */
.cart-section{
  padding: 10rem;
  position: relative;
}

.cart-heading {
  margin-bottom: 0rem;
  padding:4rem;
}

.cart-item {
  padding: 2rem;
  /* margin-top: 5rem; */
  /* background-color: rgb(238, 238, 238); */
  /* background-color: rgb(250, 245, 246); */
  background-color: white;
}

.cart-item-name {
  margin-top: 0.6rem;
}

.cart-item-description {
  color:  gray;
}

.cart-item-category{
  padding: 0.5rem;
  background-color: salmon;
}

.cart-item-size {
  padding: 0.5rem;
  background-color: yellowgreen;
}

.menu-header {
  margin-top:1rem;
  margin-left: 0.2rem;
} 

.categories{
  color:  #335c67;
  font-weight: 600;
} 

.custom-line {
  border-bottom: 1px solid grey;
  opacity: 0.2;
  margin-top:0px;
  margin-bottom: 3rem;
}

#topping-header{
  font-weight: 600;
}

.topping-name {
  margin-top: 0.5rem;
}

.cart-price {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 1.1em;
  color: rgb(44, 101, 128);
}

.cart-price::before{
  content: "₹ ";
}

.price::before {
  content: "+ ₹ " ;
}

.price {
  color: rgb(44, 101, 128);
  font-size: 1.3rem;
  font-weight: 600;
}

.place-order{
  margin-bottom: 5rem;
}

.price-detail-price::before {
  content: "₹ ";
}

.price-details{
  position: absolute;
  left: 67%;
  font-weight: 600;
  /* background-color: grey; */
  top: 10%;
}

#price-details-inner{
  padding: 1.5rem;
  background-color: white;
}

.sub-price-details{
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}


.price-detail-label{
  font-size: 1.3rem;
}

.price-detail-price{
  font-size: 1.4rem;
}

.payment-details {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.payment-mode-header{
  font-size: 1.4rem;
  font-weight: 600;
}

.cod{
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #5cb85c;
  margin-bottom: 1rem;
}

.removebtn{
  background-color: white;
  border: 1px solid white;
}

.removebtn:hover, 
.removebtn:focus,
.removebtn:active{
  background-color: white;
  border: 1px solid white;
}

.fa-trash{
  color: red;
}

/* .removebtn-row{
  margin-top: 1rem;
  margin-bottom: 0;
} */

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color:  rgba(164, 22, 26);
}

.modal-title {
  color: white;
}
/* Cart CSS */



/* Location CSS */
.location-section{
  /* padding-top: 100px ; */
  margin-top: 100px;
}

.location-header{
  margin-bottom: 1rem;
}

.location-para { 
  margin-bottom: 4rem;
}

.location-thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.location-thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
/* Location CSS */





/* Place Order Modal */
.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
    /* margin-top: %; */
    /* background-color: whitesmoke; */
		width: 500px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
    
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 80%;
		overflow-y: hidden;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
    padding: 15px 25px 80px;
    /* background-color: whitesmoke; */
	}

	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}

	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}


.main {
  justify-content: center;
}

.login-box {
  margin-top: 25px;
  height: auto;
  /* background: #1A2226; */
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.pizza-logo{
  margin-left: 5px;
}

.login-key {
  height: 100px;
  font-size: 48px;
  line-height: 100px;
  /* background: -webkit-linear-gradient(#27EF9F, #0DB8DE); */
  background-color:  rgba(164, 22, 26);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  color: rgba(164, 22, 26);
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

.login-form-1 {
  margin-top: 130px;
  text-align: left;
}


input[type=text] ,input[type=email],input[type=password]{
  /* background-color: #1A2226; */
  background-color: white;
  border: none;
  border-bottom: 2px solid #dc35466d;
  border-top: 0px;
  border-radius: 0px;
  box-shadow: none;
  font-weight: bold;
  /* border-top: none; */
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  /* color: #ECF0F5; */
}


.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
  outline: 0;
  /* background-color: #1A2226; */
  background-color: white;
  /* color: #ECF0F5; */
  /* color: grey; */
}

input[type=tel]{
  border-bottom: 1px solid #bfc1c2;
}

input[type=tel]:hover {
  border-bottom: 1px solid #c3c7ca;

}

input[type=tel]:focus {
  border: 1px solid #bfc1c2;
  background-color: rgb(248, 248, 248);

}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  /* color: #6C6C6C; */
  font-weight: bold;
  letter-spacing: 1px;
}

.custom-label {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  /* font-weight: normal ; */
  margin-bottom: 0.6rem;
}



/* About CSS */
.aboutus-section {
  padding: 150px 0;
}
.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}
.aboutus-title::after {
  background:  rgba(164, 22, 26) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}
.aboutus-text {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
  margin: 0 0 35px;
}

.aboutus-banner img{
  margin-top: 80px;
  height: 90%;
  width: 90%;
}

.aboutus-more:hover, .aboutus-more:active, .aboutus-more:focus {
  color:  rgba(164, 22, 26);;
  text-decoration: none;
  outline: 0;
}

.aboutus-more {
  border: 1px solid  rgba(164, 22, 26);;
  border-radius: 25px;
  color:  rgba(164, 22, 26);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
}
.feature .feature-box .iconset {
  background: whitesmoke none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 18%;
}

.feature .feature-box .iconset::after {
  background:  rgba(164, 22, 26) none repeat scroll 0 0;
  content: "";
  height: 150%;
  left: 43%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}


.feature .feature-box .feature-content {
  margin-top: 2.3rem;
  float: left;
  padding-left: 28px;
  width: 78%;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
}

.icon {
  color : rgba(164, 22, 26);
  padding:0px;
  font-size:40px;
  border: 1px solid rgba(164, 22, 26);
  border-radius: 100px;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
  margin-left: 0.7rem;
}

.about-review-name{
  color: #333;
  font-size: 6rem;
  margin-bottom: 0;
}

.about-review {
  font-size: 1rem;
  color: #333;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: rgba(164, 22, 26);;
}

.carousel-indicators li {
  border-color: rgba(164, 22, 26);;
}

.carousel-indicators li.active {
  background-color: rgba(164, 22, 26);;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.customer{
  text-align: center;    
}

.comments{
  margin-top: 50px;
}

/* About CSS */



@media all and (max-width: 600px) {
  .header {
    margin-top: 9rem;
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 1.1rem;
    color: white;
  }

  .para {
      font-size: 1.7rem;
      margin-bottom: 1.9rem;
      color: white;
    }

  .custom-btn {
      color: rgba(53, 80, 112);
      border: 2px solid white ;
      background-color: rgba(233, 236, 239);
      width: 12rem;
      /* letter-spacing: 0.2rem; */
      font-size: 1.3rem;
      font-weight: 600;
      color:white;
      background-color: rgba(164, 22, 26);
    }

  .custom-btn:hover {
      background-color:rgba(164, 22, 26);
      color: white;
      border: 1px solid white ;
    }


  .varieties {
      margin-left: 2rem;
  }

  .varieties h2 {
      font-weight: 600;
      font-size: 2rem;
      color: black;

  }

  .card {
    margin: 30px auto;  
    width: 130px;
    height: 130px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }

  .card .card_image {
    text-align: center;
    width: 80%;
    height:80%;
    border-radius: 40px;
  }

  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }

  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: -10px;
    height: 40px;
  }

  .jumbotron {
    height: 300px; 
    background-image: url('../images/cell-background-pizza-right.jpg');
    /* opacity: 0.9; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .icon {
    color : rgba(164, 22, 26);
    padding:0px;
    font-size:40px;
    border: 1px solid rgba(164, 22, 26);
    border-radius: 100px;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    /* margin-left: 1rem; */
  }

  .aboutus-banner{
    align-items: center;
    text-align: center;
  }

  .aboutus-banner img{
    margin-top: 80px;
    height: 50%;
    width: 50%;
    margin-bottom: 5rem;
  }

  .comments {
    display: none;
  }

  .price-details{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    position: absolute;
    left: 1%;
    right: -5%;
    font-weight: 600;
    /* background-color: grey; */
    /* top: 25%; */
    width: 100%; 
    /* margin-bottom: 10rem; */
  }

  #price-details-inner{
    padding: 1.5rem;
    background-color: white;
    width: 100%;
    margin-left: 1rem;
  }

  .cart-row {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 95%;
    top: 90%;
  }

  .cart-item {
    width: 100%;
    display: flex;
    left: -12%;
    flex-direction: row;
    margin-top: 10rem;
    padding: 2rem;
    background-color: white;
  }

  .cart-item-name {
    margin-top: 0.6rem;
    font-size: 1.4rem;
  }
  
  .cart-item-description {
    color:  gray;
    font-size: 1rem;
  }

  .cart-item-category{
    font-size: 0.8rem;
    padding: 0.3rem;
    background-color: salmon;
  }
  
  .cart-item-size {
    font-size: 0.8rem;
    padding: 0.3rem;
    background-color: yellowgreen;
  }

  #topping-header{
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .topping-name {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    margin-left: -20px;
  }

  .cart-price {
    margin-top: 0.8rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(44, 101, 128);
  }
  
  .price {
    color: rgb(44, 101, 128);
    font-size: 1rem;
    font-weight: 600;
  }

  .fa-trash {
    font-size: 1rem;
  }

  .removebtn{
    font-size: 0.8rem;
  }

}



@media all and (max-width: 415px){
  #carousel{
    display: none;
  }

  .icon {
    color : rgba(164, 22, 26);
    padding:0px;
    font-size:40px;
    border: 1px solid rgba(164, 22, 26);
    border-radius: 100px;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    margin-left: -3px;
  }


  .cart-item {
    width: 100%;
    display: flex;
    left: -20%;
    flex-direction: row;
    margin-top: 10rem;
    padding: 0.4rem;
    background-color: white;
    position: relative;
    right: -5%;
  }

  .img-responsive {
    position: absolute;
    display: none;
  }

  .cart-price {
    margin-top: 0.8rem;
    font-weight: 600;
    font-size: 0.9rem;
    color: rgb(44, 101, 128);
  }
  
  .price {
    color: rgb(44, 101, 128);
    font-size: 0.9rem;
    font-weight: 600;
  }

  .payment-mode-header{
    font-size: 1.2rem;
  }

  .small {
    font-size: 1rem;
  }

  .cod{
    font-size: 1.2rem;
  }

  .cod-text{ 
    font-size: 1rem;
  }

  .price-detail-label{
    font-size: 1rem;
  }

  .price-detail-price {
    font-size: 1rem;
  }
  
}