{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %} BigPizza {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href='{% static "css/style.css" %}'>
    {% endblock %}

</head>
<body>

    <div>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand hidden-xs" href="#myPage"><img src="" height=32px ></a>
                <a class="navbar-brand" href='{% url "home" %}'> Big Pizza</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% block navlinks %}
                        <li><a href="{% url 'menu' %}">MENU</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'cart-view' %}">CART</a></li>
                        {% endif %}
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                        <li><a href="{% url 'location' %}">LOCATION</a></li>
                        <li><a href="{% url 'about' %}">ABOUT</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">LOGIN</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block loader %}
    <div class="preloader">
        <img src="{% static 'images/loader1.svg' %}" alt="spinner">
    </div>
    {% endblock %}


    {% block body %}

    {% endblock %}


    {% block footer %}
         <!-- footer -->
        <footer class="footer-bs">
            <div class="container">
        
            <div class="row justify-content-around">
                <div class="col-xs-6 col-sm-3 col-md-3 ">
                <img class="footer-pic" src="{% static 'images/image9.jpg' %}" alt="">
                </div>
                <div class="col-sm-6 col-md-4 footer-brand animated fadeInLeft">
                    <h2>BIG PIZZA</h2>
                    <p>Fresh dough. Big Pizza multiple varieties best in class
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, tenetur. </p>
                    <p>© 2018, All rights reserved</p>
        
                    <ul class="social">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 footer-nav animated fadeInUp">
                    <h4>Menu —</h4>
                    <div class="col-xs-3 col-sm-4 col-md-6">
                        <ul class="pages">
                            <li><a href="#">PIZZA</a></li>
                            <li><a href="#">BURGERS</a></li>
                            <li><a href="#">DRINKS</a></li>
                            <li><a href="#">DESSERTS</a></li>
                            <li><a href="#">OTHERS</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 footer-nav animated fadeInUp">
                    <h4>FOLLOW US —</h4>
                    <div class="col-xs-3 col-sm-4 col-md-12">
                        
                        <div class="social-media-links">
                        <i class="fab fa-facebook fa-2x" ></i>
                        <i class="fab fa-twitter fa-2x" ></i>
                        <i class="fab fa-instagram fa-2x" ></i>
                        </div>
        
                    </div>
                </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    

    {% block loaderscript %}
    <script>
        $(document).ready(function(){
            // hide the loader;
            $('.preloader').hide() ;
        })
    </script>
    {% endblock %}


    {% block script %}

    {% endblock %}
</body>
</html>