{% extends 'base.html' %}
{% load static %}

{% block title %}BigPizza | Cart{% endblock %}

{% block body%}

<div class="cart-section">
    {% if items %}
        {% for item in items %}
            <div class="row cart-row">

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 cart-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2">
                            <img class="img-responsive" src="{% static 'images/6.jpg' %}" width=200px height=200px> 
                        </div>  
                        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-4">
                            <h3 class="cart-item-name"> <strong>{{ item.name }}</strong></h3>
                            <p class="cart-item-description">{{item.description}}</p>
                            <p class="cart-item-size badge">{{ item.size }}</p>
                            <p class="cart-item-category badge">{{ item.category.name }}</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
                            {% if item.toppings.all.count > 0 %}
                                <h5 id="topping-header">Toppings</h5>
                                <ul>
                                    {% for topping in item.toppings.all %}
                                        <li class="topping-name">{{ topping.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <p class="cart-price">{{ item.price }}</p>
        
                            {% for topping in item.toppings.all %}
                                <p class="small price">60</p>
                            {% endfor %}
                        </div>

                        <!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <button class="btn btn-sm btn-danger removebtn" onClick='removeBtn("{{ item.name}}", "{{ item.id }}", "{{ order.id }}", "{{ item.size }}")'><i class="fas fa-trash"></i></button>
                        </div> -->

                    </div>    
                    <div class="row removebtn-row">
                        <div class="col-12">
                            <button class="btn btn-block btn-danger removebtn" onClick='removeBtn("{{ item.name}}", "{{ item.id }}", "{{ order.id }}", "{{ item.size }}")'><i class="fas fa-trash"></i></button>
                        </div>  
                    </div>    
                    <!-- <hr> -->
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="confirm-remove-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
            
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="close-icon">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure ?</p>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-sm btn-outline-success finalremovebtn">Remove</button>
                    </div>
                
                    </div>
                </div>
            </div>        
        {% endfor %}
    {% else %}

    {% endif %}

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 price-details">
        
        <div class="payment-details">
            <h5 class="payment-mode-header">Mode of Payment</h5>
            <p class="small lead">**We only provides Cash on Delivery for now</p>
            <hr>
            <p><i class="far fa-check-square cod"></i><span class="cod-text">Cash on Delivery</span></p>
        </div>

        <div id="price-details-inner">
            <div class="sub-price-details">
                <span class="price-detail-label">Sub Total</span>
                <span class="price-detail-price">{{ order.total }}</span>
            </div>
            <div class="sub-price-details">
                <span class="price-detail-label">GST</span>
                <span class="price-detail-price">0</span>
            </div>
            <div class="sub-price-details">
                <span class="price-detail-label">Discount</span>
                <span class="price-detail-price">0</span>
            </div>
            <hr>
            <div class="sub-price-details">
                <span class="price-detail-label">Grand Total</span>
                <span class="price-detail-price">{{ order.total }}</span>
            </div>
            <button class="btn btn-success btn-sm btn-block" onClick='toogleplaceOrder("{{ order.id }}")'>Place Order</button>
            <!-- onClick='placeOrder("{{ order.id }}")' -->
        </div>
    </div>
</div>    

<div id="place-order-div"></div>

{% endblock %}


{% block footer %}

{% endblock %}

  
{% block script %}
<script>
    //Main ajax calls
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
            }
        }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {  
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
    }


    // DOMS loads 
    $(document).ready(function(){
        saveDetails = (order_id) => {
            const firstname = $('input[name="firstname"]').val();
            const lastname = $('input[name="lastname"]').val();
            const address = $('input[name="address"]').val();
            const phone = $('input[name="phone"]').val();
            const is_phone_verified = $('input[name="phone"]').data("is-phone-verified");
            const is_email_verified = $('input[name="email"]').data("is-email-verified");
            const email = $('input[name="email"]').val();

            console.log(phone, is_phone_verified, is_email_verified)

            if(!firstname){
                $('.firstname-err').toggleClass('hide-err');
                return;
            }

            if(!address){
                $('.address-err').toggleClass('hide-err');
                return;
            }

            if(!phone && !is_phone_verified){
                $('.phone-err').toggleClass('hide-err');
                return;
            }

            if(!email && !is_email_verified ){
                $('.email-err').toggleClass('hide-err');
                return;
            }

            data = {
                "order_id": order_id,
                "firstname": firstname,
                "lastname": lastname,
                "address": address,
                "phone": phone,
                "email": email
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    $('.preloader').show();
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
                url: "{% url 'place-order' %}" ,
                type: "POST",
                data: data,
                error: function(err){
                    console.log(err);
                },
                complete: function(data){
                    console.log("Order placed process is completed !") ;
                    $('.preloader').hide();
                },
                success: function(data){    
                    console.log("Order is Placed !!", data) ;
                    window.location.replace('/thanks') ;
                }
            })

        }

        toogleplaceOrder = (order_id) => {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            data = {
                "order_id": order_id
            }

            $.ajax({
                url: "{% url 'toggle-place-order' %}" ,
                type: "POST",
                data: data,
                complete: function(data){
                    console.log("Place Order") ;
                },
                success: function(data){    
                    // console.log("Order is Placed !!", data) ;
                    $('#place-order-div').html(data);
                    $('#place-order-modal').modal();
                    // window.location.reload() ;
                }
            })
        }
        
    
        removeBtn = (name, item_id, order_id, size) => {
            // console.log(item_id, order_id);
            $('#myModalLabel').text(`${name} (${size})`);
            $('#confirm-remove-modal').modal();
            $('.finalremovebtn').attr("data-itemId", item_id);
            $('.finalremovebtn').attr("data-orderId", order_id);
        }

        $('.finalremovebtn').click(function(){
            console.log("Clicked" );
            const itemId = $(".finalremovebtn").attr("data-itemId");
            const orderId = $(".finalremovebtn").attr("data-orderId");
            console.log(itemId, orderId);

            $.ajaxSetup({
                    beforeSend: function (xhr, settings){
                        $('.preloader').show();
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            // Send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

            data = {
                "order_id": orderId,
                "item_id": itemId
            }

            $.ajax({
                url: `{% url 'remove-item' %}`,
                type: "POST",
                data: data,
                error: function(err){
                    console.log("Error : ", err);
                },
                complete: function() {
                    $('.preloader').hide();
                },
                success: function (data){
                    console.log("Success", data);
                    window.location.reload();
                }
            });

        });

    });


</script> 
{% endblock %}