{% extends 'base.html' %}
{% load static %}

{% block title %}BigPizza | Home {% endblock %}


{% block body %}
<!-- <div class="box"> -->
<div class="jumbotron">
    <div class="container">
        <h5 class="header">Big Pizza online ordering
    </h5>
        <h6 class="para">Fresh pizza delivery</h6>
        <p><a class="btn btn-default btn-lg custom-btn" href="{% url 'menu' %}">Order Now</a></p>
    </div>  
</div>

    <!-- </div> -->
<div class="container">
    <div class="row">
        <div class="col varieties">
            <h2>Varieties</h2>
            <hr class="custom-line"/>
        </div>      
    </div>
</div>


<!-- Cards -->
<div class="container">
    <div class="cards-list">
        <div class="card 3">
            <div class="card_image">
                <img src="{% static 'images/2.jpg' %}" alt="">
            </div>
            <div class="card_title title-black ">
                <p class="small-heading"> <a href="{% url 'menu' %}" class="menu-link">Veg Pizza</a> </p>
            </div>
        </div>

        <div class="card 4">
            <div class="card_image">
                <img src="{% static 'images/3.jpg' %}" alt="">    
            </div>
            <div class="card_title title-black">
                <p><a href="{% url 'menu' %}" class="menu-link">Non-Veg Pizza</a></p>
            </div>
        </div>

        <div class="card 4">
            <div class="card_image">
                <img src="{% static 'images/3.jpg' %}" alt="">    
            </div>
            <div class="card_title title-black">
                <p><a href="{% url 'menu' %}" class="menu-link">Burgers</a></p>
            </div>
        </div>

            
        <div class="card 2">
            <div class="card_image">
                <img src="{% static 'images/4.jpg' %}" alt="">  
                </div>
            <div class="card_title title-black ">
                <p><a href="{% url 'menu' %}" class="menu-link">Desserts</a></p>
            </div>
        </div>
            
        
        <div class="card 1">
            <div class="card_image">
                <img src="{% static 'images/5.jpg' %}" alt="">  
            </div>
            <div class="card_title title-black ">
                <p><a href="{% url 'menu' %}" class="menu-link">Drinks</a></p>
            </div>
        </div>
        
        <div class="card 4">
            <div class="card_image">
                <img src="{% static 'images/3.jpg' %}" alt="">    
            </div>
            <div class="card_title title-black">
                <p><a href="{% url 'menu' %}" class="menu-link">Others</a></p>
            </div>
        </div>
    </div>
</div>

<!-- /Cards -->


<!-- crousel -->
<main>
    <div id="carousel">
       <div class="hideLeft">
        <img src="{% static 'images/pizza offer 1.jpg' %}">
      </div>
  
      <div class="prevLeftSecond">
        <img src="{% static 'images/pizza offer 2.jpg' %}">
      </div>
  
      <div class="prev">
        <img src="{% static 'images/pizza offer 3.jpg' %}">
      </div>
  
      <div class="selected">
        <img src="{% static 'images/pizza offer 4.jpg' %}">
      </div>
  
      <div class="next">
        <img src="{% static 'images/pizza offer 5.jpg' %}">
      </div>
  
      <div class="nextRightSecond">
        <img src="{% static 'images/pizza offer 6.jpg' %}">
      </div>
  
      <div class="hideRight">
        <img src="{% static 'images/pizza offer 7.jpg' %}">
      </div>
  
    </div>
</main>
  

 <!-- footer -->
<!-- <footer class="footer-bs">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-md-6 footer-brand animated fadeInLeft">
                <h2>BIG PIZZA</h2>
                <p>Fresh dough. Big Pizza multiple varieties best in class </p>
                <p>© 2018, All rights reserved</p>

                <ul class="social">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-xs-3 col-sm-4 col-md-6">
                    <ul class="pages">
                        <li><a href="#">PIZZA</a></li>
                        <li><a href="#">BURGERS</a></li>
                        <li><a href="#">DRINKS</a></li>
                        <li><a href="#">DESSERTS</a></li>
                        <li><a href="#">OTHERS</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 footer-nav animated fadeInUp">
                <h4>FOLLOW US —</h4>
                <div class="col-xs-3 col-sm-4 col-md-6 ">
                    <ul class="social">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Youtube</a></li>
                        
                    </ul>
                </div>
            
                
            </div>
        </div>
    </div>
</footer> -->

{% endblock %}



{% block script %}
<script>
    function moveToSelected(element) {
        if (element == "next") {
            var selected = $(".selected").next();
        } else if (element == "prev") {
            var selected = $(".selected").prev();
        } else {     
            var selected = element;
        }
        
        var next = $(selected).next();
        var prev = $(selected).prev();
        var prevSecond = $(prev).prev();
        var nextSecond = $(next).next();
        
        $(selected).removeClass().addClass("selected");
        
        $(prev).removeClass().addClass("prev");
        $(next).removeClass().addClass("next");
        
        $(nextSecond).removeClass().addClass("nextRightSecond");
        $(prevSecond).removeClass().addClass("prevLeftSecond");
        
        $(nextSecond).nextAll().removeClass().addClass('hideRight');
        $(prevSecond).prevAll().removeClass().addClass('hideLeft');  
  }
  
  // Eventos teclado
  $(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        moveToSelected('prev');
        break;
  
        case 39: // right
        moveToSelected('next');
        break;
  
        default: return;
    }
    e.preventDefault();
  });
  
  $('#carousel div').click(function() {
  moveToSelected($(this));
  });
  
  $('#prev').click(function() {
  moveToSelected('prev');
  });
  
  $('#next').click(function() {
  moveToSelected('next');
  });
  
  </script>
  
{% endblock %}


